:root {
    --timing: 400ms;
    --rotation: 20deg;
  }
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    perspective: 1000px;
    background: rgb(197,213,232);
background: linear-gradient(126deg, rgba(197,213,232,1) 0%, rgba(2,14,29,1) 66%);
background-repeat: no-repeat;
background-attachment: fixed;
color:   white!important;
  }
  img {
    max-width: 100%;
  }

  .krasnal {
    width: 300px;
    aspect-ratio: 9 / 16;
    position: relative;
    transform-style: preserve-3d;
    transition: rotate var(--timing) ease;
  }
  .krasnal:hover {
    rotate: x var(--rotation);
  }
  .krasnal::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 100;
    background-image: radial-gradient(circle, transparent 150px, black);
    opacity: 0;
    transition: opacity var(--timing);
  }
  .krasnal:hover::before {
    opacity: 1;
  }
  .krasnal::after {
    content: "";
    position: absolute;
    inset: 80% 0.5rem 0.5rem;
    translate: 0;
    transform: translateZ(-100px);
    background: black;
    filter: blur(1rem);
    z-index: 1;
    transition: rotate var(--timing), translate var(--timing);
  }
  .krasnal:hover::after {
    rotate: x calc(var(--rotation) * -1);
    translate: 0 60px;
  }
  .tyl {
    position: absolute;
    z-index: 10;
    height: 100%;
    object-fit: cover;
    object-position: -150px center;
    align-items: center;
  }
  .przod {
    position: absolute;
    
  }
  .krasnal:hover .logo {
    transform: translateY(-2rem) translateZ(20px);
    rotate: x calc(var(--rotation) * -1);
  } 
  .przod {
    scale: 1.125;
    transform-origin: bottom;
    opacity: 0;
    z-index: 100;
    transition: var(--timing);
  }
  .krasnal:hover .przod {
    opacity: 1;
    transform: translateY(-2rem) translateZ(-10px);
    rotate: x calc(var(--rotation) * -1);
  }
  